*.log
*.pyc
*.rej

htmlcov.zip
*.edp
.cache/*
.coverage
.eggs/*
.idea/*
.pip-cache/
.mypy_cache/
__pycache__/*
build/*
deploy
dist/*
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
notebooks/license.thrift
refactor_tools/*
scratch/*
keys/
wheelhouse/*
coverage.xml
tests.xml
htmlcov/
Settings/bp_control_dig.cfg*
.projectile
resources/version.ini

/.env
*.spec
.vscode/
.vscode/*
.hypothesis/
reset.tok
.lfs-assets-id
.testmondata
